.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 24vw);
  grid-template-rows: repeat(3, 32vh);
  column-gap: 0.5vw;
  row-gap: 0.5vh;
}
img {
  width: 24vw;
  height: 32vh;
}
#a {
  width: 48.5vw;
  grid-column: 1/3;
  grid-row: 1/2;
}
#b {
  width: 24vw;
  grid-column: 3/4;
  grid-row: 1/2;
}
#c {
  height: 97vh;
  grid-column: 4/5;
  grid-row: 1/4;
}
#d {
  grid-column: 1/2;
  grid-row: 2/3;
}
#e {
  grid-column: 2/3;
  grid-row: 2/3;
}
#f {
  grid-column: 3/4;
  grid-row: 2/3;
}
#g {
  width: 73vw;
  grid-column: 1/4;
  grid-row: 3/4;
}
#aa {
  position: absolute;
  width: 48.5vw;
  left:12.5vw;
  top: -2.5vh;
  color: white;
}
#bb {
  position: absolute;
  width: 24vw;
  left:50vw;
  top: -2.5vh;
  color: white;
}
#cc {
  position: absolute;
  width: 24vw;
  left:75vw;
  top: -2.5vh;
  color: white;
}
#dd {
  position: absolute;
  width: 24vw;
  left:1vw;
  top: 29vh;
  color: white;
  text-align: center;
}
#ee {
  position: absolute;
  width: 24vw;
  left:25vw;
  top: 29vh;
  color: white;
}
#ff {
  position: absolute;
  width: 24vw;
  left:49vw;
  top: 29vh;
  color: white;
  text-align: center;
}
#gg {
  position: absolute;
  width: 24vw;
  left:1vw;
  top: 61vh;
  color: white;
}
#hh {
  position: absolute;
  width: 24vw;
  left:1vw;
  top: 68vh;
  color: white;
}

